	:root{
		/*Color Palette (Pizza Leafy Toppings)*/
		--green: #597525;
		--mimosa: #ECD393;
		--ivory: #EFF0EA;
		--tigerLily: #A5331D;
		/*Font*/
		--sm-font: 16px;
		--md-font: 20px;
		--lg-font: 26px;
		--menu: 16px;
	}
	
	/* Resets */
	ul{
		list-style-type: none;
	}
	button{
		border: none;
		cursor: pointer;
		margin: auto;
		padding: 8px 12px;
		border-radius: 5px;
		font-size: var(--sm-font);
		font-family: Arial, Helvetica, sans-serif;
	}
	input[type='number']{
		width:50px;
	}

	.linkInactive{
		cursor: not-allowed;
		color: #800000!important;
	}
	.formError{
		color: ivory;
		text-align: center;
		text-decoration: overline underline;
	}
	.emptyCart{
		margin:auto;
		font-weight: bold;
		font-size: var(--lg-font);
	}

	/* width */
	::-webkit-scrollbar {
		width: 6px;
	}
	/* Track */
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px var(--tigerLily);
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: var(--mimosa);  
	}
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: var(--green);
	}

	/* For mobile phones: */
	html{
		font-size: var(--sm-font);
		background-color: var(--tigerLily);
	}
	body{
		margin:0;
		overflow-x: hidden;
	}
	h1{
		font-size: 23px;
	}
	h2{
		font-size: 20px;
	}
	.header{
		height: 3rem;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}
	button.bars{
		background-color: transparent;
		font-size: 1.7rem;
		z-index: 2;
		margin:0;
	}
	.fa-bars{
		color: var(--ivory);
	}
	.fa-times{
		color: var(--tigerLily);
	}
	.menu{
		display: none;
	}
	.navMobile{
		position: fixed;
		top:0;
		left:0;
		right:0;
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: column;
		font-size: var(--menu);
		padding: 10vh 0;
		background-color: var(--green);
		z-index: 2;
	}
	ul.navMobile li{
		padding: 25px 0 25px 20vw;
		align-self: flex-start;
	}
	ul.navMobile li a{
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		color: var(--ivory);
	}
	ul.navMobile li a:hover{
		text-decoration: underline var(--mimosa) 2px;
	}
	.formWrapper {
		margin: 0 auto;
		width: 99%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	form{
		width: 100%;
		display: flex;
		flex-direction: column;   
	}
	.inputWrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5px 0px;
	}
	
	.inputWrapper input, .inputWrapper button{
		width: 90%;
		padding: 10px 2px;
		border-radius: 10px;
		border-color: transparent;
	}
	.inputWrapper input{
		padding-left: 15px;
	}
	.inputWrapper > button{
		border-radius: 6px;
		padding: 10px 20px;
		margin: 5px 5%;
		width: auto;
		align-self: flex-end;
		background-color: var(--green);
		color: var(--ivory);
		font-size: var(--sm-font);
	}
	.inputWrapper > button:hover{
		background-color: var(--ivory);
		color: var(--green);
	}
	.inputLabel{
		width: 90%;
		padding: 4px 1px;
		color: var(--ivory);
	}
	.footer{
		width: 100%;
		margin-top: 15px;
		padding: 10px 4px;
		font-size: 0.8rem;
		text-align: center;
	}
	.index .content{
		padding-top: 4rem;
	}
	.menuList .content{
		padding-top: 3rem;
	}
	.accountCreate .content{
		padding-top: 1.8rem;
	}
	.index h1, .index h2, .sessionCreate h1, .sessionCreate h2, .sessionDeleted h1, .sessionDeleted h2, .accountCreate h1, .accountCreate h2, .menuList h1, .menuList h2{
		padding: 4px 0;
		color: var(--mimosa);
		text-align: center;
	}
	.index div.cta{
		width: 100px;
		margin:60px auto;
	}
	.index button.cta{
		margin: auto;
		padding: 8px 12px;
		border-radius: 5px;
		background-color: var(--ivory);
		font-size: var(--md-font);
		font-family: Arial, Helvetica, sans-serif;
	}
	.index button.cta>a{
		text-decoration: none;
		color: var(--tigerLily);
	}
	.index div.cover{
		border-radius: 20px;
		width: 85%;
		height: 250px;
		margin: auto;
		background: var(--tigerLily) url('./pizza-cover.png') no-repeat center scroll;
	}
	.index .loggedIn, .sessionCreate .loggedIn, .accountCreate .loggedIn{
		display: none;
	}
	.sessionCreate .content, .accountCreate .content{
		padding-top: 2rem;
	}
	.index h1, .index h2, .sessionCreate h1, .sessionCreate h2, .menuList h1, .menuList h2{
		width: 87%;
		margin:auto;
	}
	.sessionCreate .formWrapper{
		height: 60%;
	}
	.sessionDeleted .menu, .sessionDeleted button.bars, .stripeSuccess .menu, .stripeSuccess button.bars, .stripeCancel .menu, .stripeCancel button.bars{
		display: none;
	}
	.sessionDeleted .ctaWrapper{
		height: 20vh;
		width: 99vw;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.sessionDeleted .ctaWrapper > a{
		text-align: center;
		border: 1px solid var(--ivory);
		border-radius: 3px;
		padding: 10px 6px;
		text-decoration: none;
		color: var(--ivory);
	}
	.sessionDeleted .ctaWrapper > a:hover{
		color: var(--tigerLily);
		background-color: var(--ivory);
	}
	.menuList .loggedOut,.shoppingCart .loggedOut{
		display: none;
	}
	.pizzaContainer, .cartContainer{
		width: 100%;
		margin: 40px 0;
		min-height: 55vh;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		/* padding-left: 5px; */
		align-items: baseline;
		background-color: var(--ivory);
	}
	.cartContainer{
		margin: 0;
	}
	.pizza{
		border-bottom: 1px solid var(--tigerLily);
		width: 99%;
		height: 160px;
		margin: 5px 0.5%;
		padding: 2px;
		display: grid;
		grid-template-columns: 74% 25%;
	}
	.pizzaDescription .name, .pizzaDescription .ingredients, .pizzaDescription .price, .pizzaDescription .category{
		margin: 0;
		padding: 5px 5px;
	}
	.pizzaDescription .category{
		padding: 0 5px;
		color: var(--mimosa);
	}
	.pizzaImage{
		margin: auto;
	}
	.pizzaImage img{
		border-radius: 100%;
		height: 95px;
		width: 95px;
	}
	.cartItem{
		display: flex;
		flex-direction: column;	
		width: 100%;	
		margin: auto;
		padding: 1rem .5rem;
		border-bottom: 1px solid var(--tigerLily)
	}
	.cartItem .product{
		display: flex;
		width: 100%;
	}
    .productImage{
		width: 29%;
		display: flex;
		justify-content: center;
		align-content: center;
	}
	.productImage img{
		border-radius: 100%;
		height: 95px;
		width: 95px;
	}
	.productDescription{
		width: 70%;
	}
	.productDescription h3, .productDescription h4, .productDescription p{
		margin: 0;
		padding-bottom: .5rem;
	}
	.cartItem .sale{
		display: flex;
		width: 100%;
	}
	.sale .price{
		width: 29%;
	}
	.sale .quantity{
		width: 70%;
	}
	.price > p, .quantity > p, .quantity input[type='number']{
        margin: .5rem 0;
	}
	.price > p{
		padding-left: .6rem;
	}
	.checkoutContainer{
		overflow-x: hidden;
	}
	.checkout{
		display: flex;
		width: 99%;
		margin: auto;
		justify-content: space-evenly;
		padding: 0 .5rem;
		background-color: var(--ivory);
	}
	.checkout .other{
		padding-left: 5px;
	}
	.checkout .other{
		padding-right: 13px;
	}
	.checkout div{
		margin: 1rem 0;
	}
	button#checkout{
		background-color: var(--green);
		color: var(--ivory);
	}
	button#checkout:hover{
		cursor: pointer;
		background-color: var(--tigerLily);
		color: var(--ivory);
	}
	div.addToCart{
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
	div.addToCart input[type='number']{
		margin-right: 30px;
	}
	button.addToCart, button.removeFromCart{
		margin: 4px 0;
		font-size: 0.8rem;
		border-radius: 2px;
	}
	button.addToCart:hover, button.removeFromCart:hover{
		cursor: pointer;
	}
	button.addToCart:hover{
		background-color: var(--tigerLily);
	}
	button.removeFromCart:hover{
		background-color: var(--ivory);
	}
	button.addToCart{
		background-color: var(--green);
		color: var(--ivory);
	}
	button.removeFromCart{
		background-color: var(--mimosa);
		color: var(--tigerLily);
		text-decoration: underline;
		font-size: 0.7rem;
		display: none;
	}
	.shoppingCart div.cartItem{
		position: relative;
	}
	.shoppingCart button.removeFromCart{
		position: absolute;
		right: 10px;
		bottom: 5px;
	}
	.shoppingCart .checkout .total > div{
		font-family: monospace;
		font-weight: bold;
	}
	.stripeSuccess, .stripeCancel{
		background-color: var(--ivory);
		display: flex;
		justify-content: center;
		align-content: center;
		text-align: center;
		height: 60vh;
	}
	a.continueShopping{
		color: var(--green);
	}
	
	@media only screen and (min-width: 600px) {
		/* For tablets: */
	html{
		font-size: var(--md-font);
	}
	h1{
		font-size: 26px;
	}
	h2{
		font-size: 22px;
	}
	ul.navMobile li{
		border-bottom: 1px solid var(--mimosa);
	}
	.formWrapper{
		width: 75%;
	}
	.index div.cover{
		width: 80%;
	}
	.index h1, .index h2, .sessionCreate h1, .sessionCreate h2, .menuList h1, .menuList h2{
		width: 67%;
	}	
	.pizzaContainer{
		margin-top: 60px;
	}
	.pizza{
		height: 200px;
		width: 72%;
		margin: auto;
	}
	.cartItem{
		margin: 0 11vw;
	}
	.productImage img{
		height: 110px;
		width: 110px;
	}
  }
  
  @media only screen and (min-width: 768px) {
	/* For desktop: */
	.formWrapper{
		width: 55%;
	}
	.sessionCreate h1, .sessionCreate h2, .menuList h1, .menuList h2{
		width: 47%;
	}	
	.pizza{
		height: 220px;
		width: 48%;
		margin: 5px 0.5%;
	}
	.cartItem{
		flex-direction: row;
		margin: auto;
		align-items: flex-start;
	}
	.cartItem .product{
		width: 59vw;
	}
	.cartItem .sale{
		width: 40vw;
	}
	.sale .price, .sale .quantity{
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}
	.sale .price > p:first-child, .sale .quantity > p:first-child{
        margin-bottom: 2.5rem;
	}
	.sale .price{
		width: 50%;
		padding-left: 2rem;
	}
	.sale .quantity{
		width: 50%;
		padding-left: 2rem;
	}
	button#checkout{
		font-size: var(--md-font);
	}
	.shoppingCart button.removeFromCart{
		bottom: .5px;
		padding: 0;
		margin-right: 4vw;
	}
  }

	@media only screen and (min-width: 1024px){
	/* Large Desktop */
		button.bars, .navMobile{
			display: none;
		}
		.header{
			justify-content: center;
		}
		.header > .logo{
			display: none;
		}
		.menu{
			width: 80%;
			margin: auto;
			display: flex;
			justify-content: space-between;
			font-size: var(--menu);
			padding: 2px 3px;
		}
		ul.menu li{
			padding-right: 10px;
			align-self: center;
		}
		ul.menu li a{
			text-decoration: none;
			font-family: Arial, Helvetica, sans-serif;
			color: var(--ivory);
		}
		ul.menu li a:hover{
			text-decoration: underline var(--mimosa) 2px;
		}
		.formWrapper{
			width: 50%;
		}
		.inputWrapper > button{
			border-radius: 6px;
			padding: 8px 20px;
			margin: 12px 5%;
			align-self: flex-start;
			font-size: var(--md-font);
		}
		.index h1, .index h2, .sessionCreate h1, .sessionCreate h2, .menuList h1, .menuList h2{
			width: 44%;
		}
		.index .content{
			padding-top: 5rem;
		}
		.index div.cover{
			width: 45%;
			height: 300px;
		}
		.index div.cta{
			width: 150px;
		}
		.index button.cta{
			font-size: var(--lg-font);
		}
		.sessionCreate .content{
			padding-top: 5.5rem;
		}
		.menuList .content{
			padding-top: 4rem;
		}
		.pizza{
			height: 200px;
			width: 31%;
		}
		.cartContainer .header{
			display: flex;
		}
		.productImage{
			width: 29%;
			margin-right: 1rem;
			display: flex;
			justify-content: flex-end;
			align-content: center;
		}
		.cartItem .product{
			width: 59vw;
		}
		.cartItem .sale{
			width: 25vw;
		}
		.shoppingCart button.removeFromCart{
			right: 10px;
			bottom: 5px;
			padding: 8px 12px;
		}
	}