	:root{
		/*Color Palette (Pizza Leafy Toppings)*/
		--green: #597525;
		--mimosa: #ECD393;
		--ivory: #EFF0EA;
		--tigerLily: #A5331D;
		/*Font*/
		--sm-font: 16px;
		--md-font: 20px;
		--lg-font: 26px;
		--menu: 16px;
	}
	
	/* Resets */
	ul{
		list-style-type: none;
	}
	button{
		border: none;
		cursor: pointer;
	}

	/* width */
	::-webkit-scrollbar {
		width: 6px;
	}
	/* Track */
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px var(--tigerLily);
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: var(--mimosa);  
	}
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: var(--green);
	}

	/* For mobile phones: */
	html{
		font-size: var(--sm-font);
		background-color: var(--tigerLily);
	}
	h1{
		font-size: 23px;
	}
	h2{
		font-size: 20px;
	}
	.header{
		height: 3rem;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}
	button.bars{
		background-color: transparent;
		font-size: 1.7rem;
	}
	.fa-bars{
		color: var(--ivory)
	}
	.menu{
		display: none;
	}
	.formWrapper {
		margin: 0 auto;
		width: 99%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	form{
		width: 100%;
		display: flex;
		flex-direction: column;   
	}
	.inputWrapper{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5px 0px;
	}
	
	.inputWrapper input, .inputWrapper button{
		width: 90%;
		padding: 10px 2px;
		border-radius: 10px;
		border-color: transparent;
	}
	.inputWrapper input{
		padding-left: 15px;
	}
	.inputWrapper > button{
		border-radius: 6px;
		padding: 10px 20px;
		margin: 5px 5%;
		width: auto;
		align-self: flex-end;
		background-color: var(--green);
		color: var(--ivory);
		font-size: var(--sm-font);
	}
	.inputLabel{
		width: 90%;
		padding: 4px 1px;
		color: var(--ivory);
	}
	.footer{
		width: 100%;
		margin-top: 15px;
		padding: 10px 4px;
		font-size: 0.8rem;
	}
	.index .content{
		padding-top: 4rem;
	}
	.menuList .content{
		padding-top: 3rem;
	}
	.accountCreate .content{
		padding-top: 1.8rem;
	}
	.index h1, .index h2, .sessionCreate h1, .sessionCreate h2, .accountCreate h1, .accountCreate h2, .menuList h1, .menuList h2{
		padding: 4px 0;
		color: var(--mimosa);
		text-align: center;
	}
	.index div.cta{
		width: 100px;
		margin:60px auto;
	}
	.index button.cta{
		margin: auto;
		padding: 8px 12px;
		border-radius: 5px;
		background-color: var(--ivory);
		font-size: var(--md-font);
		font-family: Arial, Helvetica, sans-serif;
	}
	.index button.cta>a{
		text-decoration: none;
		color: var(--tigerLily);
	}
	.index div.cover{
		border-radius: 20px;
		width: 85%;
		height: 250px;
		margin: auto;
		background: var(--tigerLily) url('./pizza-cover.png') no-repeat center scroll;
	}
	.sessionCreate .content, .accountCreate .content{
		padding-top: 2rem;
	}
	.index h1, .index h2, .sessionCreate h1, .sessionCreate h2, .menuList h1, .menuList h2{
		width: 87%;
		margin:auto;
	}
	.sessionCreate .formWrapper{
		height: 60%;
	}
	.pizzaContainer{
		margin: 40px -7px;
		min-height: 55vh;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: baseline;
		background-color: var(--ivory);
	}
	.pizza{
		border-bottom: 1px solid var(--tigerLily);
		width: 99%;
		height: 120px;
		margin: 5px 0.5%;
		padding: 2px;
		display: grid;
		grid-template-columns: 74% 25%;
	}
	.pizzaDescription .name, .pizzaDescription .ingredients, .pizzaDescription .price, .pizzaDescription .category{
		margin: 0;
		padding: 5px 5px;
	}
	.pizzaDescription .category{
		padding: 0 5px;
		color: var(--mimosa);
	}
	.pizzaImage{
		margin: auto;
	}
	.pizzaImage img{
		border-radius: 100%;
		height: 95px;
		width: 95px;
	}
  
  @media only screen and (min-width: 600px) {
	/* For tablets: */
	html{
		font-size: var(--md-font);
	}
	h1{
		font-size: 26px;
	}
	h2{
		font-size: 22px;
	}
	.formWrapper{
		width: 75%;
	}
	.index div.cover{
		width: 80%;
	}
	.index h1, .index h2, .sessionCreate h1, .sessionCreate h2, .menuList h1, .menuList h2{
		width: 67%;
	}	
	.pizzaContainer{
		margin-top: 60px;
	}
	.pizza{
		height: 150px;
		width: 72%;
		margin: auto;
	}
  }
  
  @media only screen and (min-width: 768px) {
	/* For desktop: */
	.formWrapper{
		width: 55%;
	}
	.sessionCreate h1, .sessionCreate h2, .menuList h1, .menuList h2{
		width: 47%;
	}	
	.pizza{
		height: 170px;
		width: 48%;
		margin: 5px 0.5%;
	}
  }

	@media only screen and (min-width: 1024px){
	/* Large Desktop */
		button.bars{
			display: none;
		}
		.header{
			justify-content: center;
		}
		.header > .logo{
			display: none;
		}
		.menu{
			width: 80%;
			margin: auto;
			display: flex;
			justify-content: space-between;
			font-size: var(--menu);
			padding: 2px 3px;
		}
		ul.menu li.tagLine{
			margin: 0 15%;
			align-self: flex-start;
			text-align: center;
			color: var(--ivory);
			font-family: cursive;
			font-size: var(--lg-font);
		}
		ul.menu li.tagLine > p{
			text-decoration-line: underline;
			text-decoration-style: wavy;
			text-decoration-color: var(--ivory);
			margin-top: 3px;
			margin-bottom: 5px;
		}
		ul.menu li{
			padding-right: 10px;
			align-self: center;
		}
		ul.menu li a{
			text-decoration: none;
			font-family: Arial, Helvetica, sans-serif;
			color: var(--ivory);
		}
		.formWrapper{
			width: 50%;
		}
		.inputWrapper > button{
			border-radius: 6px;
			padding: 8px 20px;
			margin: 12px 5%;
			align-self: flex-start;
			font-size: var(--md-font);
		}
		.index h1, .index h2, .sessionCreate h1, .sessionCreate h2, .menuList h1, .menuList h2{
			width: 44%;
		}
		.index .content{
			padding-top: 5rem;
		}
		.index div.cover{
			width: 45%;
			height: 300px;
		}
		.index div.cta{
			width: 150px;
		}
		.index button.cta{
			font-size: var(--lg-font);
		}
		.sessionCreate .content{
			padding-top: 5.5rem;
		}
		.menuList .content{
			padding-top: 4rem;
		}
		.pizza{
			width: 31%;
		}
	}