<div class="cartContainer"></div>
<div class="checkoutContainer">
    <div class="checkout">
        <div class="other">
            <div>
                <i class="fas fa-clock"></i> Delivery in minutes
            </div>
            <div>
                <a href="menu">continue shopping</a>
            </div>
        </div>
        <div class="total">
            <div>Total: []</div>
            <div>
                <button id="checkout" type="submit">Proceed to checkout</button>
            </div>
        </div>
    </div>
</div>